.emacs.desktop
.emacs.desktop.lock
nov-places
flycheck_*.el
tramp
request/
*.elc
*.#
*~
.#*
session.*
recentf
.cache/
.mc-lists.el
.last-package-update-day
.lsp-session-v1
.org-id-locations
README.el
auto-save-list/
bookmarks
custom.el
eaf/
elpa/
eshell/
history
image-dired/
org.presp
places
projectile-bookmarks.eld
projectile.cache
quelpa/
site-lisp/
transient/
url/
var/
workspace/
